{% extends 'base.html' %}

{% block content %}
<h1 style="font-family:
'Open Sans', sans-serif; text-align:center;">All pitches</h1>
{% for pitch in pitches %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ pitch.user.username }}</a>
   </div>

    <h2><a class="article-title" href="{{ url_for('main.pitch_list', pitch_id=pitch.id) }}">{{ pitch.title }}</a></h2>
    <div class="row">
            <div class="jumbotron">
                    {{wtf.quick_form(form)}}
            <ul style="list-style: none;">
                    {% for pitch in pitches %}
                        <div class="list-group">
                            <a href="#">
                                <div class="list-item">
                                    <p>{{pitch.id}}</p>
                                </div>
                                <h4>{{ pitch.description }}</h4>
                                <h6> Posted by {{user.username}}.</h6>
                            </a>
                        </div>
                    {% endfor %}
            </ul>
            </div>
        </div>
</article>
{% endfor %}
  </div>
  {% endblock content %}
