{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}
 {% block content %}
 <div class="container">

  {% if current_user.is_authenticated%}
    <h1>Hello {{current_user.username}}</h1>
  {% else %}
    <h1>Hello stranger</h1>
  {%endif%}

  <button class="btn btn-outline-primary">
      <a style="text-align: center; color: rgb(44, 17, 17);" class="navbar-brand" href="/pitches/new/"> Post a NewPitch </a>
  </button>
<footer>
        <p>Made by Evelyne Umuhire</p>
   </footer>  
</div>
  
 {% endblock %}







